{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous ?{% endblock %}

{% block body %}
    <h1>Qui sommes-nous ?</h1>
    <p> ShuviCup est une plateforme de démonstration destinée à illustrer une application Symfony complète avec authentification, CRUD et fonctionnalités courantes.</p>
    <p>Notre équipe :</p>
    <ul>
        <li>Yohan — Développeur principal</li>
        <li>Aaron— Designer et contenu</li>
        <li>Paul — DevOps & Infrastructure</li>
    </ul>
    <p>Pour nous contacter : contact@courmaker.example</p>
{% endblock %}
