<p>Vous avez reçu un nouveau message de contact :</p>
<ul>
    <li><strong>Nom :</strong> {{ data.name }}</li>
    <li><strong>Email :</strong> {{ data.email }}</li>
</ul>
<p><strong>Message :</strong></p>
<p>{{ data.message|nl2br }}</p>
