<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>

		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body>
		<div class="grid grid-cols-2 gap-8 container mx-auto p-16">
			{% for a in articles %}
				<div class="border rounded shadow-lg p-4">
                    <h2>{{ a.titre }}</h2>
                    <p>Ecrit le {{ a.date|date('d/m/Y') }}</p>
                    <img src="{{ a.img }}" alt="" class="size-24 object-contain">
                </div>
			{% endfor %}
		</div>
	</body>
</html>
